/.venv
/output
/input
/separators/__pycache__
/__pycache__
/pretrained_models

/separation_app.spec
/separation_app.exe
/dist
/build
/example_input_output
/idea
.idea
ffmpeg.exe
ffplay.exe
ffprobe.exe
Models

# Evaluation Folders to ignore
Evaluation/musdb18_test_samples/
separated_musdb/
Evaluation/evaluated_musdb

Evaluation/dataset_muni/Black M
Evaluation/dataset_muni/Soprano
Evaluation/separated_muni
